---
import PostList from '@/components/PostList';
import Layout from '../../layouts/MainLayout.astro';

import { getCollection } from 'astro:content';
import PostListAstro from '@/components/PostListAstro.astro';

const posts = (await getCollection('shop')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout
	title="Shop"
	description="Lorem ipsum dolor sit amet"
>
	<main>
		<section class="p-4">
			<div class="flex content-center justify-center">
				<h2 >Shop</h2>
			</div>
			<!-- <PostList client:load posts={posts} /> -->
			<PostListAstro posts={posts} />
		</section>
	</main>	
</Layout>