---
import Layout from '../../layouts/MainLayout.astro';

import { getCollection } from 'astro:content';

const posts = (await getCollection('shop')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---


<Layout
	title="Shop"
	description="Lorem ipsum dolor sit amet"
>
	<section>
		<div class="flex content-center justify-center">
			<h2 >Shop</h2>
		</div>
		<ul class="flex flex-wrap justify-between">
			{
				posts.map((post) => (
					<li class="w-1/3 px-2 mb-4">
						<a href={`/shop/${post.slug}/`}>
							<img class="w-full h-auto" src={post.data.image} alt="" />
							<h4 class="title">{post.data.title}</h4>
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Layout>