---
import Layout from '../layouts/MainLayout.astro';
---

<Layout
    title="Shop"
    description="Lorem ipsum dolor sit amet"
>
    <main class="flex-grow">
        <div class="flex h-full p-6" style={{ width: "100%", height: "var(--hero-image-header)"}}>
            <div class="m-auto text-center">
                <h1 class="text-4xl font-bold">Thank you for following us, we will keep you posted.</h1>
                <a href="/" class="text-blue-500 hover:underline">Click here to go back to the homepage</a>
            </div>
        </div>
    </main>	
</Layout>