---
import Layout from '../../layouts/MainLayout.astro';

import { getCollection } from 'astro:content';
import PostListAstro from '@/components/PostListAstro.astro';
import { getFavorites } from '@/stores/favorites';
import FavoritesList from '@/components/FavoritesList';

// Need to explore ssr option for this

// const shopPosts = (await getCollection('shop'));

const favorites = (await getCollection('shop')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

---

<Layout
	title="Shop"
	description="Lorem ipsum dolor sit amet"
>
	<main>
		<section class="p-4">
			<div class="flex content-center justify-center">
				<h2 >Favorites</h2>
			</div>
			<!-- <PostListAstro posts={favoritePosts} /> -->
			<FavoritesList client:load favorites={favorites} />
		</section>
	</main>	
</Layout>